.lo {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-left: 500px;
}

.lo h1 {
    margin-bottom: 20px;
    color: #333;
}

.lo form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lo label {
    margin: 10px 0 5px 0;
    color: #333;
    font-size: 14px;
    align-self: flex-start;
}

.lo input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.lo .Buttonstyle {
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.lo .Buttonstyle:hover {
    background-color: #e5533c;
}